<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Libre+Baskerville" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="nav">
      <div class="container">
        <nav class="clearfix">
          <li><a href="/static_pages/home">Home</a></li>
          <li><a href="/static_pages/quote">Data</a></li>
          <li><a href="/static_pages/about">About</a></li>
          <li><a href="/static_pages/help">Help</a></li>
        </nav>
      </div>
    </header>

    <div class="header">
      <div class="title">
        <h1>Data :: <=> :: Market</h1>
      </div>
      <div class="subtitle">
        <h4>Data made simple(r).</h4>
      </div>
    </div>

    <div class="container">
      <%=yield %>
    </div>

    <footer>
      <li><a href="/static_pages/home">Home</a></li>
      <li><a href="/static_pages/quote">Data</a></li>
      <li><a href="/static_pages/about">About</a></li>
      <li><a href="/static_pages/help">Help</a></li>
    </footer>
  </body>
</html>
